<div class="content">
    <div class="ax-container ax-container--full-width">
        <div class="global-search-results">
            <div class="global-search-results__content">
                <ax-workflows-list [searchInput]="searchInput"></ax-workflows-list>
<!---->
                <!--<ax-commits-list [searchString]="searchString" [filters]="filters.commits" *ngIf="category === 'commits'"></ax-commits-list>-->
<!---->
                <!--<ax-templates-list [searchString]="searchString" [filters]="filters.templates" *ngIf="category === 'templates'"></ax-templates-list>-->
<!---->
                <!--<ax-applications-list [searchString]="searchString" [filters]="filters.applications" *ngIf="category === 'applications'"></ax-applications-list>-->
<!---->
                <!--<ax-deployments-list [searchString]="searchString" [filters]="filters.deployments" *ngIf="category === 'deployments'"></ax-deployments-list>-->
            </div>
        </div>
    </div>
</div>
