<div class="ax-top-bar">
  <div class="ax-top-bar__search">
    <div class="global-search__container global-search__container--closed">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">
        <input class="global-search__input"
               type="text"
               name="inputControl"
               autocomplete="off"
               formControlName="inputControl"/>
      </form>
      <div class="global-search__icon">
        <i class="ax-icon-search" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns small-9 ax-top-bar__left-side">
      <div class="ax-top-bar__title text-truncate">{{pageTitle}}</div>
    </div>
  </div>
</div>
