<table class="ax-table ax-table--light ax-table--no-background" *ngIf="templates">
    <thead>
        <tr class="header">
            <th width="60px">
                <div class="ax-checkbox">
                    <input type="checkbox" (change)="selectAllTemplates()" [checked]="allSelected" [disabled]="loadData">
                    <span><i class="fa fa-check"></i></span>
                </div>
            </th>
            <th width="30%">{{'Name' | translate | uppercase}}</th>
            <th width="55%">{{'Description' | translate | uppercase}}</th>
        </tr>
    </thead>
    <tbody>
        <template ngFor let-template [ngForOf]="(templates | axFilterBy: search:'name')" let-i="index">
            <tr class="commits-table-row"[ngClass]="{'selected': template.selected}">
                <td>
                    <div class="ax-checkbox">
                        <input type="checkbox" id="isSelected" (change)="selectTemplate(template)"
                               [checked]="template.selected"><span><i class="fa fa-check"></i></span>
                    </div>
                </td>
                <td [ax-highlight-substring]="searchString">
                    <strong>
                        <span ax-tooltip="{{template.name}}">{{template.name}}</span>
                    </strong>
                </td>
                <td [ax-highlight-substring]="searchString">
                    <span ax-tooltip="{{template.description}}">{{ template.description | truncateTo: 50}}</span>
                </td>
            </tr>
        </template>
        <tr *ngIf="!templates.length">
            <td colspan="3">
                <ax-loader-custom [size]="20" *ngIf="loadData"></ax-loader-custom>
                <span *ngIf="!loadData">{{ 'There are no templates to display for selected commit.' | translate }}</span>
            </td>
        </tr>
    </tbody>
</table>