@import '../../../../../assets/styles/config';

.branch-table-row {
    &:hover {
        background-color: $ax-color-teal-1;
    }

    &__info {
        display: inline-block;

        span {
            line-height: 44px;
            color: $ax-color-gray-6;
            font-weight: bold;
        }
    }

    &__check {
        display: inline-block;
        line-height: 44px;
        margin-right: 5px;

        i {
            font-size: 20px;
            color: $ax-success-color;
        }
    }

    &__loader {
        height: 72px;
        padding-top: 19px;
    }
}