<table class="ax-table ax-table--light ax-table--no-background">
    <tbody>
        <template ngFor let-branch [ngForOf]="(branches | axFilterBy: search:'name')" let-i="index">
            <tr class="clickable" [ngClass]="{'selected': branch.selected}" (click)="selectBranch(branch)">
                <td class="table-row table-row--branch">
                    <div class="table-row__info">
                        <span>{{ branch.name }}</span>
                    </div>
                    <div class="fr table-row__check">
                        <i class="ax-icon-checked" *ngIf="branch.selected"></i>
                    </div>
                </td>
            </tr>
        </template>
        <tr *ngIf="!loadData && !branches.length">
            <td>
                {{ 'There are no branches for selected repo.' | translate }}
            </td>
        </tr>
        <tr *ngIf="loadData">
            <div class="table-row__loader">
                <ax-loader-custom [size]="20"></ax-loader-custom>
            </div>
        </tr>
    </tbody>
</table>