@import '../../../../assets/styles/config';

.commit-template-selector {
    &__table {
        background-color: white;
        border-radius: $border-radius;
    }

    &__header {
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        background-color: $ax-color-teal-1;
        border-bottom: 1px solid $ax-color-gray-2;

        ul {
            display: inline;
            list-style-type: none;
            border-top-right-radius: $border-radius;
            border-top-left-radius: $border-radius;
            line-height: 72px;
            font-size: 15px;

            li {
                display: inline;

                &:after {
                    content: ' /';
                    font-size: 30px;
                    font-weight: 100;
                    color: $ax-color-gray-4;
                    margin-left: 3px;
                }

                &:last-child:after {
                    content: ''
                }
            }

        }
    }

    &__header-out-browse {
        border-radius: $border-radius;
    }

    &__header-on-browse {
        border-radius: $border-radius;
    }

    &__body {
        margin: 0 10px 20px 10px;
    }

    &__help-icon {
        line-height: 72px;
        margin-right: 20px;

        a {
            font-size: 14px;
        }

        i {
            font-size: 21px;
        }
    }

    &__search-input {
        width: 200px;
        position: relative;
        padding: 0 20px 0 20px;
        background-color: $ax-color-gray-2;
        border-radius: 22px;
        margin: 18px 10px;

        input {
            width: 100%;
            height: 36px;
            font-size: 14px;
            padding: 6px 20px 6px 12px;
            color: $ax-color-gray-7;
            background-color: transparent;
            border: 0;
        }

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            color: $ax-color-gray-5;
        }
    }

    &__search {
        height: 72px;
        border-bottom: 1px solid $ax-color-gray-3;

        h4 {
            font-size: 20px;
            font-weight: 300;
            color: $ax-color-teal-7;
            display: inline;
            line-height: 72px;
            padding-left: 15px;
        }
    }

    &__prompt {
        height: 72px;
        background-color: $ax-color-teal-1;
        color: $ax-color-gray-6;
        border-bottom: 1px solid $ax-color-gray-3;

        h4 {
            font-weight: bold;
            font-size: 14px;
            padding: 15px 20px 1px 20px;
            margin-bottom: 0;
        }

        p {
            font-size: 12px;
            margin: 0 20px 15px 20px;
        }
    }
}