<div class="commit-template-selector__table">
    <div class="commit-template-selector__header">
        <div class="commit-template-selector__header-out-browse" *ngIf="!isBrowseVisible">
            <ul>
                <li>argo.git</li>
                <li>master</li>
                <li>asdfasdfsadfasdfsdfdsf4rt245t3456tyg5</li>
                <li>Templates</li>
            </ul>
            <div class="fr commit-template-selector__help-icon">
                <a (click)="isBrowseVisible = !isBrowseVisible"><i class="ax-icon-edit-property"></i> {{ 'Browse'| translate | uppercase }}</a>
            </div>
        </div>
        <div class="commit-template-selector__header-on-browse" *ngIf="isBrowseVisible">
            <ul>
                <li>
                    <button axButtonWave class="ax-button" [ngClass]="{'ax-button--base': selectorSteps.repositories.isActive}" (click)="setActiveStep('repositories')">REPO</button>
                </li>
                <li>
                    <button axButtonWave class="ax-button" [ngClass]="{'ax-button--base': selectorSteps.branches.isActive}" (click)="setActiveStep('branches')">BRANCH</button>
                </li>
                <li>
                    <button axButtonWave class="ax-button" [ngClass]="{'ax-button--base': selectorSteps.commits.isActive}" (click)="setActiveStep('commits')">COMMIT</button>
                </li>
                <li>
                    <button axButtonWave class="ax-button" [ngClass]="{'ax-button--base': selectorSteps.templates.isActive}" (click)="setActiveStep('templates')">TEMPLATES</button>
                </li>
            </ul>
            <div class="fr commit-template-selector__help-icon">
                <i class="ax-icon-close" (click)="isBrowseVisible = !isBrowseVisible"></i>
            </div>
        </div>
    </div>
    <div class="commit-template-selector__body">
        <div *ngIf="isBrowseVisible">
            <div class="commit-template-selector__search">
                <h4>{{ selectorSteps[activePart].messages.title }}</h4>
                <div class="fr">
                    <div class="commit-template-selector__search-input">
                        <i class="fa fa-search"></i> <input type="text" [(ngModel)]="search" placeholder="{{ selectorSteps[activePart].messages.searchInputPlaceholder }}">
                    </div>
                </div>
            </div>
            <div class="commit-template-selector__prompt" *ngIf="!selectorSteps.repositories.isActive">
                <h4>argo.git</h4>
                <p>https://github.com/argoproj/argo.git</p>
            </div>
        </div>
        <div class="">
            <table class="ax-table ax-table--light ax-table--no-background">
                <thead>
                <tr class="header">
                    <th width="60px">
                        <div class="ax-checkbox">
                            <input type="checkbox" (change)="selectAllTemplates()" [checked]="allSelected" [disabled]="templateLoader">
                            <span><i class="fa fa-check"></i></span>
                        </div>
                    </th>
                    <th width="30%">{{'Name' | translate | uppercase}}</th>
                    <th width="55%">{{'Description' | translate | uppercase}}</th>
                </tr>
                </thead>
                <tbody>
                <template ngFor let-template [ngForOf]="(selectorSteps[activePart].items | axFilterBy: search:'name')" let-i="index">
                    <tr [ngClass]="{'selected': template.selected}">
                        <td>
                            <div class="ax-checkbox">
                                <input type="checkbox" id="isSelected" (change)="selectTemplate(template)"
                                       [checked]="template.selected"><span><i class="fa fa-check"></i></span>
                            </div>
                        </td>
                        <td [ax-highlight-substring]="searchString">
                            <strong>
                                <span ax-tooltip="{{template.name}}">{{template.name}}</span>
                            </strong>
                        </td>
                        <td [ax-highlight-substring]="searchString">
                            <span ax-tooltip="{{template.description}}">{{ template.description | truncateTo: 50}}</span>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>
</div>