@import '../../../../assets/styles/config';

.commit-template-selector {
    &__table {
        background-color: white;
        border-radius: $border-radius;
    }

    &__header {
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        background-color: $ax-color-teal-1;
        border-bottom: 1px solid $ax-color-gray-2;

        ul {
            display: inline;
            list-style-type: none;
            border-top-right-radius: $border-radius;
            border-top-left-radius: $border-radius;
            line-height: 72px;
            font-size: 15px;

            li {
                display: inline;

                &:after {
                    content: ' /';
                    font-size: 30px;
                    font-weight: 100;
                    color: $ax-color-gray-4;
                    margin-left: 3px;
                }

                &:last-child:after {
                    content: ''
                }
            }

        }
    }

    &__root-loader {
        height: 72px;
        padding-top: 27px;
    }

    &__header-out-browse {
        border-radius: $border-radius;
    }

    &__header-on-browse {
        border-radius: $border-radius;
    }

    &__body {
        margin: 0 10px 20px 10px;

        table {
            tbody > tr {
                &:hover {
                    background-color: $ax-color-gray-1;
                }

                .table-row {
                    height: 72px;

                    &:hover {
                        background-color: $ax-color-gray-1;
                    }

                    &__info {
                        display: inline-block;

                        span {
                            color: $ax-color-gray-6;
                            font-weight: bold;
                        }

                        p {
                            margin: 0;
                        }
                    }

                    &__check {
                        display: inline-block;
                        line-height: 44px;
                        margin-right: 5px;

                        i {
                            font-size: 20px;
                            color: $ax-success-color;
                        }
                    }

                    &__loader {
                        height: 72px;
                        padding-top: 27px;
                    }

                    &--commits {
                        & > td  > i {
                            text-overflow: clip;
                        }

                        .table-row__info {
                            p {
                                line-height: 1;
                                margin-bottom: 0;
                                margin-top: 7px;
                            }
                        }
                    }

                    &--branch {
                        .table-row__info > span {
                            line-height: 44px;
                        }
                    }
                }
            }
        }
    }

    &__help-icon {
        line-height: 72px;
        margin-right: 20px;
        cursor: pointer;

        a {
            font-size: 14px;
        }

        i {
            font-size: 21px;
        }

        &--disabled {
            cursor: default;
            color: $ax-color-gray-4;
        }
    }

    &__search-input {
        width: 200px;
        position: relative;
        padding: 0 20px 0 20px;
        background-color: $ax-color-gray-2;
        border-radius: 22px;
        margin: 18px 10px;

        input {
            width: 100%;
            height: 36px;
            font-size: 14px;
            padding: 6px 20px 6px 12px;
            color: $ax-color-gray-7;
            background-color: transparent;
            border: 0;
        }

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            color: $ax-color-gray-5;
        }
    }

    &__search {
        height: 72px;
        border-bottom: 1px solid $ax-color-gray-3;

        h4 {
            font-size: 20px;
            font-weight: 300;
            color: $ax-color-teal-7;
            display: inline;
            line-height: 72px;
            padding-left: 15px;
        }
    }

    &__prompt {
        height: 72px;
        background-color: $ax-color-teal-1;
        color: $ax-color-gray-6;
        border-bottom: 1px solid $ax-color-gray-3;

        h4 {
            font-weight: bold;
            font-size: 14px;
            padding: 15px 20px 1px 20px;
            margin-bottom: 0;
        }

        p {
            font-size: 12px;
            margin: 0 20px 15px 20px;
        }
    }

    &__alert {
        position: absolute;
        top: 44%;
        right: 12%;
        transform: translate(2px, -7px);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #ef0b28;
        content: '';
    }
}