<div class="commit-template-selector__table">
    <div class="commit-template-selector__header">
        <div class="commit-template-selector__header-out-browse" *ngIf="!isBrowseVisible">
            <ul>
                <li>{{ selectorSteps.branches.selectedParent.name }}</li>
                <li>{{ selectorSteps.commits.selectedParent.name }}</li>
                <li>{{ selectorSteps.templates.selectedParent.name }}</li>
                <li>Templates</li>
            </ul>
            <div class="fr commit-template-selector__help-icon">
                <a (click)="onBrowse(); isBrowseVisible = !isBrowseVisible"><i class="ax-icon-edit-property"></i> {{ 'Browse'| translate | uppercase }}</a>
            </div>
        </div>
        <div class="commit-template-selector__header-on-browse" *ngIf="isBrowseVisible">
            <ul>
                <li>
                    <button axButtonWave class="ax-button" [ngClass]="{'ax-button--base': activePart === 'repositories'}" (click)="changeStep('repositories')">REPO</button>
                </li>
                <li>
                    <button axButtonWave class="ax-button" [ngClass]="{'ax-button--base': activePart === 'branches'}" (click)="changeStep('branches')">BRANCH</button>
                </li>
                <li>
                    <button axButtonWave class="ax-button" [ngClass]="{'ax-button--base': activePart === 'commits'}" (click)="changeStep('commits')">COMMIT</button>
                </li>
                <li>
                    <button axButtonWave class="ax-button" [ngClass]="{'ax-button--base': activePart === 'templates'}" (click)="changeStep('templates')">TEMPLATES</button>
                </li>
            </ul>
            <div class="fr commit-template-selector__help-icon">
                <i class="ax-icon-close" (click)="isBrowseVisible = !isBrowseVisible"></i>
            </div>
        </div>
    </div>
    <div class="commit-template-selector__body">
        <div *ngIf="isBrowseVisible">
            <div class="commit-template-selector__search">
                <h4>{{ selectorSteps[activePart].messages.title }}</h4>
                <div class="fr">
                    <div class="commit-template-selector__search-input">
                        <i class="fa fa-search"></i> <input type="text" [(ngModel)]="selectorSteps[activePart].search" placeholder="{{ selectorSteps[activePart].messages.searchInputPlaceholder }}">
                    </div>
                </div>
            </div>
            <div class="commit-template-selector__prompt" *ngIf="!selectorSteps.repositories.isActive">
                <h4>{{ selectorSteps[activePart].selectedParent.name }}</h4>
                <p>{{ selectorSteps[activePart].selectedParent.url }}</p>
            </div>
        </div>
        <div class="">
            <ax-repo-table [repos]="selectorSteps.repositories.items" [search]="selectorSteps.repositories.search" [loadData]="selectorSteps.repositories.showDataLoader" (onSelect)="selectRepo($event)" *ngIf="activePart === 'repositories'"></ax-repo-table>
            <ax-branch-table [branches]="selectorSteps.branches.items" [search]="selectorSteps.branches.search" [loadData]="selectorSteps.branches.showDataLoader" (onSelect)="selectBranch($event)" *ngIf="activePart === 'branches'"></ax-branch-table>
            <ax-commits-table [commits]="selectorSteps.commits.items" [search]="selectorSteps.commits.search" [loadData]="selectorSteps.commits.showDataLoader" (onSelect)="selectCommit($event)" *ngIf="activePart === 'commits'"></ax-commits-table>
            <ax-template-table [templates]="selectorSteps.templates.items" [search]="selectorSteps.templates.search" [loadData]="selectorSteps.templates.showDataLoader" (onSelect)="selectTemplate($event)" *ngIf="activePart === 'templates'"></ax-template-table>
            <!--<table class="ax-table ax-table&#45;&#45;light ax-table&#45;&#45;no-background">-->
                <!--<tbody>-->
                    <!--<template ngFor let-repo [ngForOf]="(selectorSteps[activePart].items | axFilterBy: selectorSteps[activePart].search:'name')" let-i="index">-->
                        <!--<ax-repo-table-row [repo]="repo" (onSelect)="selectRepo($event)"></ax-repo-table-row>-->
                        <!--<tr class="clickable" [ngClass]="{'selected': repo.selected}" (click)="selectRepo(repo)">-->
                            <!--<td class="repo-table-row">-->
                                <!--<div class="repo-table-row__info">-->
                                    <!--<span>{{ repo.name }}</span>-->
                                    <!--<p>{{ repo.url }}</p>-->
                                <!--</div>-->
                                <!--<div class="fr repo-table-row__check">-->
                                    <!--<i class="ax-icon-checked"  *ngIf="repo.selected"></i>-->
                                <!--</div>-->
                            <!--</td>-->
                        <!--</tr>-->
                    <!--</template>-->
                <!--</tbody>-->
            <!--</table>-->
            <!--<table class="ax-table ax-table&#45;&#45;light ax-table&#45;&#45;no-background">-->
                <!--<thead>-->
                <!--<tr class="header">-->
                    <!--<th width="60px">-->
                        <!--<div class="ax-checkbox">-->
                            <!--<input type="checkbox" (change)="selectAllTemplates()" [checked]="allSelected" [disabled]="templateLoader">-->
                            <!--<span><i class="fa fa-check"></i></span>-->
                        <!--</div>-->
                    <!--</th>-->
                    <!--<th width="30%">{{'Name' | translate | uppercase}}</th>-->
                    <!--<th width="55%">{{'Description' | translate | uppercase}}</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<template ngFor let-template [ngForOf]="(selectorSteps[activePart].items | axFilterBy: search:'name')" let-i="index">-->
                    <!--<tr [ngClass]="{'selected': template.selected}">-->
                        <!--<td>-->
                            <!--<div class="ax-checkbox">-->
                                <!--<input type="checkbox" id="isSelected" (change)="selectTemplate(template)"-->
                                       <!--[checked]="template.selected"><span><i class="fa fa-check"></i></span>-->
                            <!--</div>-->
                        <!--</td>-->
                        <!--<td [ax-highlight-substring]="searchString">-->
                            <!--<strong>-->
                                <!--<span ax-tooltip="{{template.name}}">{{template.name}}</span>-->
                            <!--</strong>-->
                        <!--</td>-->
                        <!--<td [ax-highlight-substring]="searchString">-->
                            <!--<span ax-tooltip="{{template.description}}">{{ template.description | truncateTo: 50}}</span>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</template>-->
                <!--</tbody>-->
            <!--</table>-->
        </div>
    </div>
</div>