<table class="ax-table ax-table--light ax-table--no-background">
    <tbody>
        <template ngFor let-commit [ngForOf]="(commits | axFilterBy: search:'name')" let-i="index">
            <tr class="clickable commits-table-row" [ngClass]="{'selected': commit.selected}" (click)="selectCommit(commit)">
                <td class="commits-table-row__info" width="60%">
                    <span>{{ commit.description }}</span>
                    <p>ID: {{ commit.revision | shortRevision }}</p>
                </td>
                <td class="commits-table-row__info" width="30%">
                    <span>{{ commit.author | getEmailFromCommitAuthor }}</span>
                    <p>Commited on: {{ commit.date | timestamp }}</p>
                </td>
                <td class="commits-table-row__info" width="10%">
                    <i class="ax-icon-checked" *ngIf="commit.selected"></i>
                </td>
            </tr>
        </template>
        <tr *ngIf="loadData">
            <td>
                <div class="commits-table-row__loader">
                    <ax-loader-custom [size]="20"></ax-loader-custom>
                </div>
            </td>
        </tr>
    </tbody>
</table>